################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C-Sharp/HelperMethods/obj
/C-Sharp/HelperMethods/bin/Debug/net6.0
/C-Sharp/HelperMethods/.vs/HelperMethods/v17
C-Sharp/HelperMethods/.vs/HelperMethods/DesignTimeBuild/.dtbcache.v2
